hr {
	width: 	98%;
}


.hidden_experience {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: lighter;

	margin-top: 2vh;
	margin-bottom: 2vh;

	background-color: rgba(255,255,255,.2);
	border-radius: 2vh;
	width: 75%;
	height: 100%;

	margin-left: 12.5%;
}

.hidden_experience h3 {
	margin: 0px;
	font-size: 5vw;
	text-align: center;
}

.hidden_experience h4 {
	margin: 0px;
	font-size: 4.5vw;
	text-align: center;
}

.hidden_experience h5 {
	margin: 0px;
	font-size: 4vw;
	text-align: center;
}

.hidden_experience h6 {
	margin: 0px;
	font-size: 4vw;
	text-align: center;
}

.hidden_experience ul {
	margin: 0px;
}

.hidden_experience p {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 3.5vw;
	background-color: rgba(255,255,255,0);
	border-radius: 10px;
	text-align: left;
}


.hidden_experience a {
	text-decoration-style: underline;
	text-decoration-color: black;
	display:inline-block;
	height: 100%;
	width: 100%;
	margin: 12vh, 10vw;
	background-color:#ffffff;
	/*border:2px dotted #000000;*/
	font-size: 8vh;
	text-align: center;
	line-height: 8vh;
	vertical-align: middle;
	background-color: transparent;
	font-weight: bold;
	color: black;
}

.hidden_experience a:link {
	text-decoration-color: black;
}

.hidden_experience a:visited {
	text-decoration-color: black;
	color: black;
}
.hidden_experience a:hover {
	text-decoration-color: black;
}

.contact a{
	display: inline;
	color: black;
	font-size: 3.5vw;
}

.static_resume a {
	text-decoration: none;
	font-weight: bold;
	height: 100%;
	width: 100%;

	display:inline-block;
	font-size: 10vh;
	text-align: center;
	line-height: 10vh;
	vertical-align: middle;
	background-color: transparent;
	border-radius: 2vh;
}

.static_resume a:link {
	text-decoration: none; 
	color: black; 
}

.static_resume a:visited {
	text-decoration: none;
	color: black; 
}

.static_resume a:hover {
	background-color: rgba(255,255,255,.6);
	text-decoration: none; color:rgb(0,0,0);
}

#projects a {
	text-align: center;
	color: rgb(0,0,125);
}
